
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  max-width: 1420px;
  margin: auto;
}

#header-outside {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: 47px;
  font-family: "Montserrat", sans-serif;
  font-size: 9pt;
  max-width: 1420px;
  margin: auto;
}

#head1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  img {
    height: 17px;
  }
}
.fas {
  color: #aeaeaf;
  margin-right: 5px;
}

#head2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  li {
    display: inline;
    margin-left: 10px;
    &:hover {
      opacity: 0.6;
    }
  }
}

#head3 {
  width: 200px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  input {
    font-size: 9pt;
    border: none;
    border-bottom: 1px solid #aeaeaf;
    width: 100px;
  }
}

#logo2, .narrow-pic {
  display: none;
}

.special {
  color: red;
}

.head {
  display: flex;
  box-sizing: border-box;
  height: 30px;
}

.big-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.small-card {
  display: flex;
  flex-direction: column;
  width: (100% / 3);
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.big-card img, .small-card img, .banner img {
  width: 100%;
    &:hover {
      opacity: 0.8;
  }
}

.big-card button, .small-card button {
  border: none;
  opacity: 0.9;
  position: absolute;
  bottom: 24px;
  padding: 8px 25px 7px 25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
    &:hover {
      opacity: 1;
  }
}

@media only screen and (max-width: 770px) {
  .small-card, .big-card {
      width: 100%;
  }
}

// * {
// border: 1px solid red;
// }
